// COLORS
$color-primary: #7fffd4;
$color-secondary: rgb(255, 202, 103);
$color-tertiary: rgb(152, 255, 152);
$color-primary-transparent: #7fffd433;
$color-primary-light: #b6ffe7;

$color-blue-dark: #00008b;
$color-blue-dark-transparent: #00008b62;
$color-blue-light: lightblue;
$color-blue-light2: #e7f1fa;
$color-blue-cyan: #b0c4d8;

$color-grey-dark: #777;
$color-grey-light: #ddd7d7;

$color-red-light: #ffb6b6;

$color-purple: rgb(51, 5, 51);

$color-black: #000;

$color-white: #fff;
$color-white-ghost: #fafafc;

// WEBSITE COLOR SCHEME
// $color-grey-dark2: #5D5C61;
// $color-blue-light3: #7395ae;    
// $color-blue-dark: #557a95;
// $color-tan: #b1a296;
$color-blue-light3:#88BDBC;
$color-blue-dark1: #254E58;
$color-blue-dark2: #112D32;
$color-brown-light: #4F4A41;
$color-brown-lighter: #6E6658;


// FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 150rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
