.header {
  height: 85vh;
  background-image: linear-gradient(
      to bottom,
      $color-primary-transparent,
      $color-black
    ),
    url(../img/pexels-melchor-gama-631342.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
    height: 95vh;
  }

  @include respond(tablet-portrait) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include respond(tablet-portrait) {
      position: relative;
    }
  }
}
