* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Libre Caslon Display', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.main-header {
    overflow: hidden;
    background-color: black;
    box-shadow: 5px 10px 18px lightblue;
}

.main-header h1 {
    margin: 0;
}
  
.main-header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
}

.main-header li {
    display: inline-block;
}
  
nav {
    margin: 10px;
}

.main-header a.logo {
    font-size: 1.2em;
    font-weight: bold;
}
  
.main-header a.active {
    color: white;
    border-bottom: 2px solid blue;
}
  
.header-right {
    float: right;
}

.showcase {
    padding: 30px 0;
}

.showcase h1 {
    font-size: 1.9em;
    letter-spacing: 20px;
    text-align: center;
    font-family: cursive;
}

footer {
    background-color: black;
    color: #ffffff;
    padding: 16px;
    text-align: center;
}

/* CONTAINERS */
.wrapper {
    display: flex;
}

content {
    flex-grow: 1;
}

.container {
    width: 95%;
    margin: auto;
    align-items: center;
}

.container img {
    width: 150px;
    margin-left: 25%;
}

.box {
    flex-basis: 20%;
    align-items: center;
}

.box h2,
.box p {
    text-align: center;
    padding: 5px;
}

span {
    font-style: italic;
    border-bottom: 1px solid blue;
}

/* MEDIA QUERIES */
@media (max-width: 769px) {
    .main-header a,
    .header-right {
        float: none;
    }

    .main-header h1 {
        text-align: center;
    }

    .main-header li {
        text-align: center;
        display: block;
        padding: 10px;
    }

    .wrapper {
        display: block;
    }

    .container img {
        width: 150px;
        margin-left: 34%;
    }

    .showcase {
        padding: 15px 0;
    }

    .main-header a.active {
        border-bottom: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .box h2,
    .box p {
    text-align: center;
    padding: 6px;
    }

    .container img {
        width: 120px;
        margin-left: 20%;
    }
}

@media (max-width: 769px){
	.box h2,
    .box p {
    text-align: center;
    padding: 6px;
    }
    .container img {
        width: 120px;
    }
}